/* HEADER IS START */
* {
    /* margin: 0;
    padding: 0; */
    font-family: sans-serif;
}

.header-wrapper {
    text-align: center;
    font-size: 22px;
    background-color: black;
    color: white;
    border-radius: 10px;
}

/* HEADER IS END */

/* MAIN IS START */



table{
    width: 95vw;
    text-align: center;
    height: 90vh;
}
 table tr{
    background-color: lightblue;
 }

.bg {
    background-color: aqua;
}

.bg-changed {
    background-color: chartreuse;
    /* background-size: cover; */
}

.d-f {
    display: flex;
}

.rpt {
    background-image: url(./images.jfif);
    width: 50%;
    width: 500px;
    height: 500px;
}

.n-rpt {
    width: 50%;
    background: url(./images.jfif) no-repeat;
    width: 500px;
    height: 500px;
}

.center-element {
    background-color: brown;
    color: white;
    width: 300px;
    margin: 0 auto;
}

.layouts-wrapper {
    background-color: whitesmoke;
}

.layouts {
    margin: 0 100px;
}

.row {
    display: flex;
    justify-content: space-around;
}

.col {
    margin: 10px;
    background-color: white;
}

.thumbnail {
    padding: 80px 150px;
    background-color: #55595C;
    color: white;
    font-weight: bold;
}

.text {
    margin: 20px;
}

.buttons {
    display: flex;
}

.btn {
    border: 1px solid;
    padding: 3px 15px;
    border-radius: 3px;
}

/* MAIN IS END */

/* FOOTER IS START */



/* FOOTER IS END */